<div class="comment-card-container">
    <div id="post-{{id}}" class="comment-card">
    <div class="comment-card-author">
        <h3>{{username}}</h3>
        <p class="comment-timestamp">{{created}}</p>
    </div>
    <p>{{comment}}</p>
    </div>
</div>
