<header class="nav-header">
    <div id="header-container">
        <div id="header-logo">
            <a href="/" id="header-logo-link"></a>
            <img id="header-logo-image" src="public/assets/logo.svg" alt="logo" href="/">
        </div>
        <div id="header-links">
            <a href="/home">Browse</a>
            <div id="header-account">
                <a href="/login" class="secondary-action-button action-button-right-aligned" id="header-secondary-action">Log In</a>
                <a href="/register" class="primary-action-button action-button-right-aligned" id="header-primary-action">Sign Up</a>
            </div>
        </div>    
    </div>
</header>