<div id="post-{{id}}" class="photo-grid-item">
    <div class="photo-grid-image-container">
        <img src="{{thumbpath}}" alt="" class="photo">
    </div>
    <p class="title">{{title}}</p>
    <a href="/posts/{{id}}" class="post-link"></a> 
</div>