
<div class="content-container">
    {{#if isSearch}}
    <header>
        <h1>Search</h1>
    </header>
    <p class="grid-info-text">There are <strong>{{results.length}}</strong> result(s) for {{query}}.</p>
    {{else}}
    <header>
        <h1>Home</h1>
    </header>
    {{/if}}
    <div class="photo-grid">
        {{#each results}}
        {{> photocard this}}
        {{/each}}
    </div>
</div>

