
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="public\css\home.css">
    <script type="text/javascript" src="public\js\home.js" defer></script>
  </head>
  <div class="content-container">
      <header>
          <h1>Home</h1>
      </header>
      <p class="grid-info-text"></p>
      <div class="photo-grid">
      </div>
  </div>

