<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Post</title>
    <link rel="stylesheet" type="text/css" href="..\css\imagepost.css">
  </head>
  <body>
    <header>
      <h1>View Post</h1>
    </header>
    <div class="post">
      <h2 class="post-title">A Day in San Francisco</h2>
      <p class="post-author">John Appleseed</p>
      <p class="post-timestamp">10/10/2020 10:10AM</p>
      <img class="post-image" src="../assets/sf.jpeg" alt="Post Image">
    </div>
  </body>
</html>
