<div id="top-section">
  <section id="top-container">
    <h1>imagetree</h1>
    <h2>Free photo storage and sharing that doesn't suck.</h2>
    <div id="top-action-buttons">
      <a href="/login" class="secondary-action-button action-button-left-aligned" id="body-login">Log In</a>
      <a href="/signup" class="primary-action-button action-button-left-aligned" id="body-signup">Sign Up</a>
    </div>
  </div>
</section>
<section id="middle1-container">
  <div class="text-block-container">
    <div class="icon-text-block">
    <img src="public/assets/lock.svg">
    <h2>Secure</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec luctus nunc. Morbi aliquam facilisis justo tincidunt auctor. Aenean ut.</p>
  </div>
  <div class="icon-text-block">
    <img src="public/assets/visibility.svg">
    <h2>Private</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dictum sapien nec lorem eleifend vulputate. Morbi facilisis tortor non odio.</p>
  </div>
  <div class="icon-text-block">
    <img src="public/assets/group.svg">
    <h2>Social</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea corrupti, molestias nostrum quod velit. Voluptates nostrum ipsam necessitatibus aperiam.</p>
  </div>
  </div>
</section>


