<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="public\css\globaltheme.css">
    <link rel="stylesheet" type="text/css" href="public\css\formui.css">
  </head>
  <body class="flex-center-column">
    <header>
      <h1>Login</h1>
    </header>
    <form class="main-container-card">
      <div class="input-container">
        <label for="username">Username</label>

        <input class="input-field" type="text" id="username" required>  
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input class="input-field" type="password" id="password" required>
      </div>
      <button class="main-action-button" id="login-button" type="submit">Login</button>
    </form>
  </body>
</html>
