<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post an Image</title>
    <link rel="stylesheet" type="text/css" href="..\css\postimage.css">
  </head>
  <body>
    <header>
      <h1>Post an Image</h1>
    </header>
    <form class="card">
      <label for="post-title">Post Title</label>
      <input class="input-field" type="text" id="post-title" required>
      <label for="post-desciption">Post Description</label>
      <textarea class="input-field" id="post-desciption"></textarea>
      <label for="post-file">Upload File</label>
      <input class="input-file" type="file" id="post-file" accept="image/*" required>
      <label class="input-check" for="check-policy">
        <input class="checkbox" type="checkbox" id="check-policy" required>Have you accepted our <a href="#">Acceptable Use Policy</a>?
      </label>
      <button id="submit-button" type="submit">Submit</button>
    </form>
  </body>
</html>
