<div class="flex-center-column">
  <header>
      <h1>Post an Image</h1>
  </header>
  <form class="main-container-card" method="POST" enctype="multipart/form-data" action="/posts/createPost">
    {{#if (emptyObject messages)}}
    {{> flash}}
    {{/if}}
    <div class="input-container">
      <label class="input-file" for="post-file">
        <p class="input-file-labeltext">Upload File</p>
        <input name="file" class="filebox" type="file" id="post-file" accept="image/*" onchange="displayFileName(this, event);" required>
        <span class="rendered-filebox">Select File</span>
      </label>
    </div>
    <div class="input-container">
      <label for="post-title">Title</label>
      <input name="title" class="input-field" type="text" id="post-title" required>
    </div>
    <div class="input-container">
      <label for="post-desciption">Description</label>
      <textarea name="description" class="input-field" id="post-desciption"></textarea>
    </div>
    <div class="input-container">
      <label class="input-check" for="check-policy">
        <input class="checkbox" type="checkbox" id="check-policy" required>
        <span class="rendered-checkbox"></span>
        <p>
          Have you accepted our <a href="/tos">Acceptable Use Policy</a>?
        </p>
      </label>
    </div>
    <button class="main-action-button" id="submit-button" type="submit">Post</button>
  </form>
  {{> min-footer}}
</div>

