form label {
    margin: 0px 0px 10px 0px;
    display: inline-block;
    font-weight: 400;
    font-family: var(--secondary-font);
}

form .input-container {
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.input-container .error-msg {
    font-family: var(--secondary-font);
    color: red;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 10pt;
}

.input-field {
    width: auto;
    padding: 12px;
    margin: 0px 0px 20px 0px;
    border: 0px;
    /* background: rgb(230,230,230); */
    font-size: 16px;
    font-weight: 600;
    font-family: var(--default-font);
    border-radius: 4px;
    border: 1px solid rgb(150,150,150);
    transition: border 0.25s ease-in, background 0.25s ease-in;
    outline: none;
}

.input-field:focus {
    border: 1px solid var(--accent-color);
    background: var(--accent-color-25)
}

.input-field:hover {
    border: 1px solid var(--accent-color-light);
}

.input-check {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
}

.input-check a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 700;
}

.input-check a:hover {
    text-decoration: underline;
}

button.main-action-button {
    width: auto;
    padding: 12px 24px;
    margin-left: auto;
    border-radius: 4px;
    /* background: var(--accent-color); */
    background: linear-gradient(to right, var(--accent-color-light) 0%, var(--accent-color) 50%, var(--accent-color) 50%, var(--accent-color) 100%);
    background-size: 200%;
    background-position: 100% 0%;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--default-font);
    color: white;
    /* border: 2px solid transparent; */
    border: 0px;
    position: relative;
    cursor: pointer;
    transition: 0.25s;
}

button.main-action-button:hover {
    background-position: 0% 0%;
    background-size: 200%;
    box-shadow: 0px 2px 8px var(--accent-color-75);
}

/* button.main-action-button::before {
    content: 'Register';
    background: linear-gradient(to right, var(--accent-color-light), var(--accent-color-dark));
    opacity: 0;
    width: auto;
    height: auto;
    padding: 12px 24px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s;
    box-shadow: 0px 2px 8px var(--accent-color-75);
} */

button.main-action-button:hover::before {
    opacity: 1;
}

@keyframes button-shake {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}


