@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round'); */

:root {
    --accent-color: rgb(27,165,71);
    --accent-color-light: rgb(46,191,92);
    --accent-color-dark: rgb(15,136,58);
    --accent-off-white: rgb(238,251,244);
    --accent-color-75: rgba(27,165,71,0.75);
    --accent-color-50: rgba(27,165,71,0.5);
    --accent-color-25: rgba(27,165,71,0.25);
    --text-black: rgb(30,30,30);
    --main-font: 'Rubik', sans-serif;
    --secondary-font: 'Arimo', sans-serif;
}

.material-icons-round {
    user-select: none;
    font-weight: normal;
}

body {
    font-family: var(--secondary-font);
    color: var(--text-black);
    padding: 0;
    margin: 0;
}

div.document-container {
    margin: 40px 20vw;
}

div.document-container p {
    line-height: 1.5;
}

div.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

header.nav-header{
    height: auto;
    top: 0;
    position: sticky;
    z-index: 10;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

header #header-container {
    margin: 0px 30px;
    /* padding: 15px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

#header-logo {
    display: block;
    position: relative;
    width: auto;
    height: auto;
}

#header-logo #header-logo-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header-logo #header-logo-image {
    width: auto;
    height: 40px;
    display: block;
}

header .header-links.desktop {
    display: inherit;
}

header .header-links.mobile {
    display: none;
}

header .header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header-links form {
    display: flex;
    height: auto;
    width: auto;
    border-radius: 4px;
    transition: 0.25s;
}

.header-links form .searchbar {
    padding: 12px;
    background: rgb(230,230,230);
    border: 0px;
    border-radius: 4px 0px 0px 4px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--default-font);
    width: max(300px, 100%);
    transition: 0.25s;
}

.header-links form .searchbar::placeholder {
    color: rgb(160, 160, 160);
    transition: 0.25s;
}

header .header-links form .search-button {
    border: 0px;
    border-radius: 0px 4px 4px 0px;
    background: rgb(230,230,230);
    padding: 0px 12px 0px 12px;
    color: rgb(160, 160, 160);
    transition: 0.25s;
    cursor: pointer;
}

header .header-links form:focus-within {
    box-shadow: 0px 2px 8px var(--accent-color-75);
}

header .header-links form:focus-within .searchbar{
    background: var(--accent-color);
    color: white;
    outline: none;
}

header .header-links form:focus-within .searchbar::placeholder {
    color: var(--accent-off-white);
}

header .header-links form:focus-within .search-button {
    background: var(--accent-color);
    color: white;
}

header .header-links > a:first-of-type {
    margin-left: 30px;
}

header .header-links a.header-link {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    user-select: none;
    display: inline-flex;
    align-items: center;
}

header .header-links > a.header-link {
    margin-right: 30px;
}

header .header-links a.header-link span {
    margin-right: 10px;
}

header .header-links a.header-link p {
    margin: 0;
    white-space: nowrap;
}

header .header-links a.header-link:hover p{
    text-decoration: underline;
}

header .header-links a.header-link:hover span {
    text-decoration: none;
}

header #header-account {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

header #header-account .user-photo-container {
    display: block;
    width: auto;
    height: auto;
    position: relative;
    margin-left: 30px;
}

.user-photo-container .user-photo-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    transition: 0.25s;
}

.user-photo-container .user-photo-button p{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    margin-right: 10px;
}

.user-photo-container .user-photo-button:hover{
    background: rgba(0,0,0,0.2);
}

header #header-account .userphoto {
    width: 36px;
    height: 36px;
    border-radius: 1000px;
    display: block;
    user-select: none;
}

header #header-account .user-photo-container .user-photo-menu {
    display: flex;
    /* visibility: hidden; */
    flex-direction: column;
    background: white;
    padding: 20px;
    position: absolute;
    right: 0px;
    width: auto;
    white-space: nowrap;
    box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    /* opacity: 0; */
    transition: 0.25s;
    /* transform: scale(0.5); */
    transform-origin: 100% 0%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
}

.user-photo-container.menu-open .user-photo-menu {
    visibility: visible !important;
    opacity: 1 !important ;
    transform: scale(1) !important;
}

.user-photo-menu a.header-link{
    padding: 10px;
    margin-right: 0;
}

footer.page-footer {
    background: var(--accent-color-dark);
    padding: 60px 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer #footer-logo {
    display: block;
    position: relative;
    width: auto;
    height: auto;
}

#footer-logo #footer-logo-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-footer #footer-logo-image {
    width: auto;
    height: 40px;
    fill: white;
}

footer #footer-links {
    display: flex;
    flex-direction: column;
}

footer #footer-links a {
    text-decoration: none;
    font-weight: 700;
    margin: 5px;
    font-size: 16px;
    color: white;
}

footer #footer-links a:hover {
    text-decoration: underline;
}

.min-footer {
    display: flex;
    width: auto;
    margin-bottom: 40px;
    justify-content: center;
}

.min-footer #min-footer-links {
    display: flex;
    justify-content: center;
    background: rgb(255,255,255);
    border-radius: 4px;
    padding: 10px;
}

.min-footer a {
    margin-left: 30px;
    color: var(--accent-color);
    font-weight: 700;
    text-decoration: none;
}

.min-footer a:hover {
    text-decoration: underline;
}

.min-footer a:first-child {
    margin-left: 0;
}

h1 {
    font-family: var(--main-font);
    color: var(--accent-color);
    font-weight: 600;
    font-size: 48px;
    margin: 40px 0px;
    line-height: 1.25;
}

h2 {
    margin: 20px 0px;
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
}

h3 {
    margin: 20px 0px;
    line-height: 1.25;
}

.main-container-card {
    background: rgb(255,255,255);
    padding: 80px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 40px 40px 40px;
}

.main-container-card::before {
    content: '';
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, var(--accent-color-light), var(--accent-color-dark));
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(-4px);
    border-radius: 4px;
}

.primary-action-button, .secondary-action-button {
    width: auto;
    padding: 12px 24px;
    margin: 0px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--default-font);
    position: relative;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    flex-direction: row;
}

.primary-action-button {
    background: linear-gradient(to right, var(--accent-color-light) 0%, var(--accent-color) 50%, var(--accent-color) 50%, var(--accent-color) 100%);
    color: white;
    /* border: 2px solid transparent; */
    border: 0px;
    background-size: 200%;
    background-position: 100% 0%;
    transition: background-position 0.25s, background-size 0.25s, box-shadow 0.25s;
}

.primary-action-button:hover {
    background-position: 0% 0%;
    background-size: 200%;
    box-shadow: 0px 2px 8px var(--accent-color-75);
}

/* .primary-action-button:hover::before {
    opacity: 1;
} */

.secondary-action-button {
    background: white;
    color: var(--accent-color);
    position: relative;
    cursor: pointer;
    transition: background 0.25s, color 0.25s, box-shadow 0.25s;
    box-shadow: inset 0px 0px 0px 2px var(--accent-color);
}

.secondary-action-button:hover {
    background: var(--accent-color);
    color: white;
    box-shadow: inset 0px 0px 0px 2px var(--accent-color), 0px 2px 8px var(--accent-color-75);
}

.primary-action-button span, .secondary-action-button span {
    font-size: 16px;
    margin-right: 10px;
    font-weight: normal;
}

.action-button-left-aligned {
    margin: 0px;
    margin-right: 30px;
}

.action-button-right-aligned {
    margin: 0px;
    margin-left: 30px;
}

.banner-flash {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 100px;
    z-index: 100;
}

.banner-flash .flash-container {
    width: calc(100% - 20vw);
    box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.2);
    transition: 0.25s;
    transform-origin: top;
    animation: slide-in 0.25s;
}

.min-flash .flash-container{
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0px 0px 20px 0px;
    transition: 0.25s;
    transform-origin: top;
}

.flash-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 12pt;
    line-height: 1.5;
    position: relative;
}

.flash-message.error {
    background: rgb(253, 218, 217);
    color: rgb(241, 70, 58);
    /* z-index: initial; */
    border-bottom: 2px solid rgb(241, 70, 58);
}

.flash-message.success {
    background: var(--accent-off-white);
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.flash-message .flash-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flash-content span {
    margin-right: 20px;
}

.flash-message span.flash-close {
    border-radius: 1000px;
    transition: 0.25s;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
}

.flash-message span.flash-close:hover {
    background: rgba(0,0,0,0.2);
}

.flash-container-closed {
    transform: scaleY(0);
    opacity: 0;
}

@keyframes slide-in {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 960px) {
    header .header-links.desktop {
        display: none;
    }
    header .header-links.mobile {
        display: inherit;
    }
    header .header-links form {
        margin-left: 30px;
    }
    header .header-links a.header-link {
        text-decoration: none;
        color: var(--accent-color);
        font-weight: 700;
        font-size: 16px;
        user-select: none;
        padding: 10px;
        margin-right: 0;
    } 
    header .header-links a.header-link .header-link-icon {
        padding: 0px;
    }
    /* header .header-links a:hover {
        text-decoration: underline;
    } */
    #mobile-header-menu {
        position: relative;
        margin-left: 20px;
        transition: 0.25s;
        z-index: 1000;
    }
    #mobile-header-menu hr {
        margin: 5px 0px;
        width: 100%;
        height: 1px;
        background: rgb(230,230,230);
        border: 0px;
    }
    #mobile-header-menu.menu-open {
        /* box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.2); */
    }
    #mobile-header-menu span.menu-icon{
        /* position: relative; */
        padding: 8px;
        display: inline-flex;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.25s;
    }
    #mobile-header-menu span.menu-icon:hover {
        background: rgba(0,0,0,0.2);
    }
    #mobile-header-menu.menu-open span.menu-icon:hover {
        background: white;
    }
    #mobile-header-menu.menu-open > span{
        color: var(--accent-color);
        box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.2);
        border-radius: 4px 4px 0px 0px;
        background: white;
        position: relative;
        z-index: 100;
        clip-path: inset(-100% -100% 0% -100%);
    }
    
    #mobile-header-menu-dropdown {
        display: flex;
        visibility: hidden;
        flex-direction: column;
        background: white;
        padding: 20px;
        position: absolute;
        right: 0px;
        width: auto;
        white-space: nowrap;
        box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.2);
        border-radius: 4px 0px 4px 4px;
        opacity: 0;
        transition: 0.25s;
        transform: scale(0.5);
        transform-origin: 100% 0%;
        z-index: 99;
    }
    #mobile-header-menu.menu-open #mobile-header-menu-dropdown {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
    #mobile-header-menu-dropdown .mobile-menu-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    #mobile-header-menu-dropdown .mobile-menu-profile p {
        font-weight: 700;
        font-size: 16px;
        margin: 0;
        margin-left: 10px;
    }
    #mobile-header-menu-dropdown .mobile-menu-profile img {
        width: 28px;
        height: 28px;
        border-radius: 1000px;
        display: block;
        user-select: none;
    }
    footer.page-footer {
        flex-direction: column;
        padding: 20px 10vw;
    }
    footer #footer-links {
        flex-direction: row;
    }
    footer #footer-links a {
        white-space: nowrap;
    }
}