body {
    /* background: var(--accent-off-white); */
}

header h1 {
    margin: 40px 40px;
}

.content-container {
    width: 90vw;
    max-width: 1920px;
    height: auto;
    margin: auto;
    /* background: gray; */
}

.grid-info-text {
    margin: 0px 40px;
}

.photo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo-grid-item {
    display: flex;
    flex-direction: column;
    width: calc(calc(100% - 400px) / 5);
    height: calc(calc(100% - 400px) / 5);
    margin: 40px;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
}

.photo-grid-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.photo-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: box-shadow 0.25s, border-radius 0.25s;
}

.photo-grid-item:hover img {
    /* transform: scale(0.9); */
    box-shadow: 0px 0px 0px 2px var(--accent-color), 0px 3px 12px var(--accent-color-75);
    border-radius: 4px;
}

.fade-out {
    opacity: 0 !important;
    transform: scale(0) !important;
}

.photo-grid-item p {
    width: auto;
    margin: 10px 0px 0px 0px;
}

@media only screen and (max-width: 1280px) {
    .photo-grid-item {
        width: calc(calc(100% - 320px) / 4);
    }
}

@media only screen and (max-width: 640px) {
    header h1 {
        margin: 20px;
    }
    .grid-info-text {
        margin: 20px;
    }
    .photo-grid-item {
        width: calc(calc(100% - 120px) / 3);
        margin: 20px;
    }
}