#top-section {
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url(../assets/patternpad.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: var(--accent-off-white); */
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}

#top-container {
    margin: 0vh 20vw;
}

#top-container h1 {
    margin: 0px;
}

#top-container h2 {
    color: black;
    font-size: 24px;
}

#top-action-buttons {
    display: flex;
    flex-direction: row;
}

#middle1-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, 1fr); */
    /* column-gap: 90px; */
    /* flex-direction: row;
    justify-content: space-between; */
    height: 100%;
    background-color: var(--accent-color);
    padding: 120px 20vw;
    flex-wrap: wrap;
}

#middle1-container .text-block-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* see notes below */
    grid-gap: 90px;
}

#middle1-container .icon-text-block {
    /* margin: 30px 30px;
    min-width: 200px;
    width: 300px; */
}

.icon-text-block h2 {
    color: var(--accent-off-white);
}

.icon-text-block p {
    color: white;
    line-height: 1.35;
}