body {
    /* background-image: url(../assets/patternpad.svg);
    background-position: center;
    background-size: cover; */
    background-image: url(../assets/pattern4.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}