@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

:root {
    --accent-color: rgb(27,165,71);
    --accent-color-light: rgb(46,191,92);
    --accent-color-dark: rgb(15,136,58);
    --accent-off-white: rgb(238,251,244);
    --accent-color-75: rgba(27,165,71,0.75);
    --accent-color-50: rgba(27,165,71,0.5);
    --accent-color-25: rgba(27,165,71,0.25);
    --default-font: 'Rubik', sans-serif;
    --secondary-font: 'Arimo', sans-serif;
}

body {
    font-family: var(--default-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    min-height: 100vh;
    margin: 0;
    /* background: var(--accent-off-white); */
    background-image: url(../assets/patternpad.svg);
    /* background: radial-gradient(rgb(32, 165, 65), rgb(0, 195, 255), red, green, orange, pink, yellow, purple, gray); */
    /* background: url(https://wallpaperaccess.com/full/483510.jpg); */
    /* background: url(https://images.pexels.com/photos/38275/anonymous-studio-figure-photography-facial-mask-38275.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    background-position: center;
    background-size: cover;
}

header h1 {
    font-family: var(--default-font);
    color: var(--accent-color);
    font-weight: 600;
    /* text-shadow: 0px 4px 12px rgba(0,0,0,0.2); */
    font-size: 48px;
    margin: 40px 0px;

}

.card {
    background: rgb(255,255,255);
    padding: 80px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 40px 40px 40px;
}

.card::before {
    content: '';
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, var(--accent-color-light), var(--accent-color-dark));
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(-4px);
    border-radius: 4px;
}

form label {
    margin: 0px 0px 10px 0px;
    display: inline-block;
    font-weight: 400;
    font-family: var(--secondary-font);
}

form .input-element {
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.input-element .error-msg {
    font-family: var(--secondary-font);
    color: red;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 10pt;
}

.input-field {
    width: auto;
    padding: 12px;
    margin: 0px 0px 20px 0px;
    border: 0px;
    /* background: rgb(230,230,230); */
    font-size: 16px;
    font-weight: 600;
    font-family: var(--default-font);
    border-radius: 4px;
    border: 1px solid rgb(150,150,150);
    transition: border 0.25s ease-in, background 0.25s ease-in;
    outline: none;
} 

.input-field:hover {
    border: 1px solid var(--accent-color-light);
}

.input-field:focus {
    border: 1px solid var(--accent-color);
    background: var(--accent-color-25)
}

.input-check{
    margin-bottom: 20px;
    font-family: var(--secondary-font);
}

.input-check a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 700;
}

.input-check a:hover {
    text-decoration: underline;
}

#register-button {
    width: auto;
    padding: 12px 24px;
    margin-left: auto;
    border-radius: 4px;
    background: var(--accent-color);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--default-font);
    color: white;
    border: 0px;
    position: relative;
    cursor: pointer;
}

#register-button::before {
    content: 'Register';
    background: linear-gradient(to right, var(--accent-color-light), var(--accent-color-dark));
    opacity: 0;
    width: auto;
    height: auto;
    padding: 12px 24px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s;
    box-shadow: 0px 2px 8px var(--accent-color-75);
}

#register-button:hover::before {
    opacity: 1;
}

@keyframes button-shake {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}